OPENAI_API_KEY=cole_a_chave_aqui
ACTA_OPENAI_MODEL=gpt-6-luna
ACTA_OPENAI_TRANSCRIPTION_MODEL=gpt-transcribe
ACTA_OPENAI_REASONING_EFFORT=none
ACTA_OPENAI_MAX_TOKENS=2048
MONGODB_URI=mongo_uri

ACTA_MCP_API_KEY=pibble
QDRANT_CLUSTER_ENDPOINT=https://......qdrant.io
QDRANT_API_KEY=qdrant_api_key
GEMINI_API_KEY=gemini_api_key
ACTA_MCP_URL=http://127.0.0.1:8000/mcp
JEV_API_KEY=apikey_.....
