NVIDIA_API_KEY=nvapi....
MONGODB_URI=mongo_uri

ACTA_MCP_API_KEY=pibble
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=https://api.honeycomb.io/v1/traces
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=https://api.honeycomb.io/v1/metrics
OTEL_EXPORTER_OTLP_TRACES_HEADERS=x-honeycomb-team=....
OTEL_EXPORTER_OTLP_METRICS_HEADERS=x-honeycomb-team=....,x-honeycomb-dataset=..
QDRANT_CLUSTER_ENDPOINT=https://......qdrant.io
QDRANT_API_KEY=qdrant_api_key
GEMINI_API_KEY=gemini_api_key
ACTA_MCP_URL=http://127.0.0.1:8000/mcp
JEV_API_KEY=apikey_.....
